body{
   background-color: initial;
}

#PetraK{
   background-color:purple;
   font-family:'Courier New', Courier, monospace;
   color:black;
   
}

#BarboraJ{
   background-color: initial;
   font-family: 'Courier New', Courier, monospace;
   color:initial;
   
}

#KaterinaD{
   background-color: initial;
   font-family: initial;
   color:indianred;
   
}

#VeronikaS{
   background-color: initial;
   font-family: initial;
   color:initial;
   
}

#KristynaJ{
   background-color: pink;
   font-family: comic;
   color:initial;
   

}
