body{
   background-color: initial;
}

#PetraK{
   background-color:purple;
   font-family:'Courier New', Courier, monospace;
   color:black;
   
}

#BarboraJ{
   background-color: palevioletred;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   color:black;
   
}

#KaterinaD{
   background-color: initial;
   font-family: initial;
   color:indianred;
   
}

#VeronikaS{
   background-color: initial;
   font-family: initial;
   color:initial;
   
}

#KristynaJ{
   background-color: pink;
   font-family: comic;
   color:initial;
   

}
