body{
   background-color: initial;
}

#PetraK{
   background-color:initial;
   font-family:initial;
   color:initial;
   
}

#BarboraJ{
   background-color: palevioletred;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   color:black;
   
}

#KaterinaD{
   background-color: initial;
   font-family: initial;
   color:initial;
   
}

#VeronikaS{
   background-color: initial;
   font-family: initial;
   color:initial;
   
}

#KristynaJ{
   background-color: initial;
   font-family: initial;
   color:initial;
   

}
